*
!*/
!*.*
*.exe

!LICENSE*
!Makefile
!Jenkinsfile

nimcache/

# Executables when using nix will be stored in result/ directory
result/

# Executables shall be put in an ignored build/ directory
build/

# Coverage data shall be put in an ignored coverage/ directory
coverage/

# Nimble packages
/vendor/.nimble
/vendor/packages/
# /vendor/*/

# Nimble user files
nimble.develop
nimble.paths

# vscode
.vscode

# JetBrain's IDEs
.idea

# Each developer can create a personal .env file with
# local settings overrides (e.g. WEB3_URL)
.env

.update.timestamp
storage.nims
nimbus-build-system.paths
docker/hostdatadir
docker/prometheus-data
.DS_Store
nim.cfg
tests/integration/logs

data/

tests/cbindings/data-dir
tests/cbindings/downloaded_hello.txt

nimbledeps
tests/js/node_modules
tests/js/dist/logs
tests/js/dist/node_modules
