*
!*/
!*.*
*.exe

!LICENSE*
!Makefile
!Jenkinsfile

nimcache/

# Executables shall be put in an ignored build/ directory
build/

# Coverage data shall be put in an ignored coverage/ directory
coverage/

# Nimble packages
/vendor/.nimble
/vendor/packages/
# /vendor/*/

# Nimble user files
nimble.develop
nimble.paths

# vscode
.vscode

# JetBrain's IDEs
.idea

# Each developer can create a personal .env file with
# local settings overrides (e.g. WEB3_URL)
.env

.update.timestamp
codex.nims
nimbus-build-system.paths
docker/hostdatadir
docker/prometheus-data
.DS_Store
nim.cfg
tests/integration/logs
