[submodule "vendor/nimbus-build-system"]
	path = vendor/nimbus-build-system
	url = https://github.com/status-im/nimbus-build-system.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-libp2p"]
	path = vendor/nim-libp2p
	url = https://github.com/vacp2p/nim-libp2p.git
	ignore = untracked
	branch = master
[submodule "vendor/nimcrypto"]
	path = vendor/nimcrypto
	url = https://github.com/cheatfate/nimcrypto.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-chronicles"]
	path = vendor/nim-chronicles
	url = https://github.com/status-im/nim-chronicles.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-metrics"]
	path = vendor/nim-metrics
	url = https://github.com/status-im/nim-metrics.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-secp256k1"]
	path = vendor/nim-secp256k1
	url = https://github.com/status-im/nim-secp256k1.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-stew"]
	path = vendor/nim-stew
	url = https://github.com/status-im/nim-stew.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-nitro"]
	path = vendor/nim-nitro
	url = https://github.com/status-im/nim-nitro.git
	ignore = untracked
	branch = master
[submodule "vendor/questionable"]
	path = vendor/questionable
	url = https://github.com/status-im/questionable.git
	ignore = untracked
	branch = master
[submodule "vendor/upraises"]
	path = vendor/upraises
	url = https://github.com/markspanbroek/upraises.git
	ignore = untracked
	branch = master
[submodule "vendor/asynctest"]
	path = vendor/asynctest
	url = https://github.com/status-im/asynctest.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-presto"]
	path = vendor/nim-presto
	url = https://github.com/status-im/nim-presto.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-confutils"]
	path = vendor/nim-confutils
	url = https://github.com/status-im/nim-confutils.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-nat-traversal"]
	path = vendor/nim-nat-traversal
	url = https://github.com/status-im/nim-nat-traversal.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-libbacktrace"]
	path = vendor/nim-libbacktrace
	url = https://github.com/status-im/nim-libbacktrace.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-chronos"]
	path = vendor/nim-chronos
	url = https://github.com/status-im/nim-chronos.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-faststreams"]
	path = vendor/nim-faststreams
	url = https://github.com/status-im/nim-faststreams.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-json-serialization"]
	path = vendor/nim-json-serialization
	url = https://github.com/status-im/nim-json-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-serialization"]
	path = vendor/nim-serialization
	url = https://github.com/status-im/nim-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-bearssl"]
	path = vendor/nim-bearssl
	url = https://github.com/status-im/nim-bearssl.git
	ignore = untracked
	branch = master
[submodule "vendor/combparser"]
	path = vendor/combparser
	url = https://github.com/PMunch/combparser.git
	ignore = untracked
	branch = master
[submodule "vendor/stint"]
	path = vendor/stint
	url = https://github.com/status-im/stint.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-http-utils"]
	path = vendor/nim-http-utils
	url = https://github.com/status-im/nim-http-utils.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-toml-serialization"]
	path = vendor/nim-toml-serialization
	url = https://github.com/status-im/nim-toml-serialization.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-unittest2"]
	path = vendor/nim-unittest2
	url = https://github.com/status-im/nim-unittest2.git
	ignore = untracked
	branch = master
[submodule "vendor/dnsclient.nim"]
	path = vendor/dnsclient.nim
	url = https://github.com/ba0f3/dnsclient.nim.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-websock"]
	path = vendor/nim-websock
	url = https://github.com/status-im/nim-websock.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-contract-abi"]
	path = vendor/nim-contract-abi
	url = https://github.com/status-im/nim-contract-abi
[submodule "vendor/nim-json-rpc"]
	path = vendor/nim-json-rpc
	url = https://github.com/status-im/nim-json-rpc
[submodule "vendor/nim-zlib"]
	path = vendor/nim-zlib
	url = https://github.com/status-im/nim-zlib
[submodule "vendor/nim-ethers"]
	path = vendor/nim-ethers
	url = https://github.com/status-im/nim-ethers
[submodule "vendor/lrucache.nim"]
	path = vendor/lrucache.nim
	url = https://github.com/status-im/lrucache.nim
[submodule "vendor/nim-blscurve"]
	path = vendor/nim-blscurve
	url = https://github.com/status-im/nim-blscurve.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-taskpools.git"]
	ignore = untracked
	branch = master
[submodule "vendor/nim-taskpools"]
	path = vendor/nim-taskpools
	url = https://github.com/status-im/nim-taskpools.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-leopard"]
	path = vendor/nim-leopard
	url = https://github.com/status-im/nim-leopard.git
[submodule "vendor/nim-codex-dht"]
	path = vendor/nim-codex-dht
	url = https://github.com/codex-storage/nim-codex-dht.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-datastore"]
	path = vendor/nim-datastore
	url = https://github.com/status-im/nim-datastore.git
[submodule "vendor/nim-sqlite3-abi"]
	path = vendor/nim-sqlite3-abi
	url = https://github.com/arnetheduck/nim-sqlite3-abi.git
[submodule "vendor/nim-eth"]
	path = vendor/nim-eth
	url = https://github.com/status-im/nim-eth
[submodule "vendor/codex-contracts-eth"]
	path = vendor/codex-contracts-eth
	url = https://github.com/status-im/codex-contracts-eth
[submodule "vendor/nim-protobuf-serialization"]
	path = vendor/nim-protobuf-serialization
	url = https://github.com/status-im/nim-protobuf-serialization
[submodule "vendor/nim-results"]
	path = vendor/nim-results
	url = https://github.com/arnetheduck/nim-results
[submodule "vendor/nim-testutils"]
	path = vendor/nim-testutils
	url = https://github.com/status-im/nim-testutils
[submodule "vendor/npeg"]
	path = vendor/npeg
	url = https://github.com/zevv/npeg
[submodule "vendor/nim-poseidon2"]
	path = vendor/nim-poseidon2
	url = https://github.com/codex-storage/nim-poseidon2.git
[submodule "vendor/constantine"]
	path = vendor/constantine
	url = https://github.com/mratsim/constantine.git
[submodule "vendor/nim-circom-compat"]
	path = vendor/nim-circom-compat
	url = https://github.com/codex-storage/nim-circom-compat.git
	ignore = untracked
	branch = master
[submodule "vendor/codex-storage-proofs-circuits"]
	path = vendor/codex-storage-proofs-circuits
	url = https://github.com/codex-storage/codex-storage-proofs-circuits.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-serde"]
	path = vendor/nim-serde
	url = https://github.com/codex-storage/nim-serde.git
[submodule "vendor/nim-leveldbstatic"]
	path = vendor/nim-leveldbstatic
	url = https://github.com/codex-storage/nim-leveldb.git
[submodule "vendor/nim-zippy"]
	path = vendor/nim-zippy
	url = https://github.com/status-im/nim-zippy.git
[submodule "vendor/nph"]
	path = vendor/nph
	url = https://github.com/arnetheduck/nph.git
[submodule "vendor/nim-quic"]
	path = vendor/nim-quic
	url = https://github.com/vacp2p/nim-quic.git
	ignore = untracked
	branch = master
[submodule "vendor/nim-ngtcp2"]
	path = vendor/nim-ngtcp2
	url = https://github.com/vacp2p/nim-ngtcp2.git
	ignore = untracked
	branch = master
