name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

env:
  cache_nonce: 0 # Allows for easily busting actions/cache caches
  nim_version: v2.0.14

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
      cache_nonce: ${{ env.cache_nonce }}
    steps:
      - name: Compute matrix
        id: matrix
        uses: fabiocaccamo/create-matrix-action@v5
        with:
          matrix: |
            os {linux},   cpu {amd64}, builder {ubuntu-latest-amd64-8vcpu},   tests {integration}, nim_version {${{ env.nim_version }}}, shell {bash --noprofile --norc -e -o pipefail}
            os {windows}, cpu {amd64}, builder {windows-latest-amd64-8vcpu}, tests {integration}, nim_version {${{ env.nim_version }}}, shell {msys2}

  build:
    needs: matrix
    uses: ./.github/workflows/ci-reusable.yml
    with:
      matrix: ${{ needs.matrix.outputs.matrix }}
      cache_nonce: ${{ needs.matrix.outputs.cache_nonce }}

  linting:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@v4
      - name: Check `nph` formatting
        uses: arnetheduck/nph-action@v1
        with:
          version: 0.6.1
          options: "codex/ tests/"
          fail: true
          suggest: true

  coverage:
    # Force to stick to ubuntu 20.04 for coverage because
    # lcov was updated to 2.x version in ubuntu-latest
    # and cause a lot of issues.
    # See https://github.com/linux-test-project/lcov/issues/238
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: recursive
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Setup Nimbus Build System
        uses: ./.github/actions/nimbus-build-system
        with:
          os: linux
          nim_version: ${{ env.nim_version }}
          coverage: true

      - name: Generate coverage data
        run: |
          # make -j${ncpu} coverage
          make -j${ncpu} coverage-script
        shell: bash

      - name: Upload coverage data to Codecov
        uses: codecov/codecov-action@v4
        with:
          directory: ./coverage/
          fail_ci_if_error: true
          files: ./coverage/coverage.f.info
          flags: unittests
          name: codecov-umbrella
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
