name: Docker - Dist-Tests


on:
  push:
    branches:
      - master
    tags:
      - 'v*.*.*'
    paths-ignore:
      - '**/*.md'
      - '.gitignore'
      - '.github/**'
      - '!.github/workflows/docker-dist-tests.yml'
      - '!.github/workflows/docker-reusable.yml'
      - '!.github/workflows/deploy-devnet.yml'
      - 'docker/**'
      - '!docker/codex.Dockerfile'
      - '!docker/docker-entrypoint.sh'
  workflow_dispatch:
    inputs:
      run_release_tests:
        description: Run Release tests
        required: false
        type: boolean
        default: false
      deploy_devnet:
        description: Deploy Devnet
        required: false
        type: boolean
        default: false


jobs:
  get-contracts-hash:
    runs-on: ubuntu-latest
    outputs:
      hash: ${{ steps.get-hash.outputs.hash }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Get submodule short hash
        id: get-hash
        run: |
          hash=$(git rev-parse --short HEAD:vendor/codex-contracts-eth)
          echo "hash=$hash" >> $GITHUB_OUTPUT

  build-and-push:
    name: Build and Push
    uses: ./.github/workflows/docker-reusable.yml
    needs: get-contracts-hash
    with:
      nimflags: '-d:disableMarchNative -d:codex_enable_api_debug_peers=true -d:codex_enable_proof_failures=true -d:codex_enable_log_counter=true -d:verify_circuit=true -d:codex_enable_repostore_timinglogs=true'
      nat_ip_auto: true
      tag_latest: ${{ github.ref_name == github.event.repository.default_branch || startsWith(github.ref, 'refs/tags/') }}
      tag_suffix: dist-tests
      tag_stable: ${{ startsWith(github.ref, 'refs/tags/') }}
      contract_image: "codexstorage/codex-contracts-eth:sha-${{ needs.get-contracts-hash.outputs.hash }}-dist-tests"
      run_release_tests: ${{ inputs.run_release_tests }}
    secrets: inherit

  deploy-devnet:
    name: Deploy Devnet
    uses: ./.github/workflows/deploy-devnet.yml
    needs: build-and-push
    if: ${{ inputs.deploy_devnet || github.event_name == 'push' && github.ref_name == github.event.repository.default_branch }}
    with:
      codex_image: ${{ needs.build-and-push.outputs.codex_image }}
    secrets: inherit
