global:
  scrape_interval: 12s

scrape_configs:
  - job_name: "codex"
    static_configs:
      - targets: ['127.0.0.1:8008']
  - job_name: "node_explorer"
    static_configs:
      - targets: ['127.0.0.1:9100']
